<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootsrtap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   

    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>This is the Documentation page for famnet API</h1>
    <br>
    <br>
    <br>
    <div>
        <p>This is the Famnet API focused on Women health, birth control and Family Planning. The following is the description of the API along with end-points.</p>
    </div>
    
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Technology Stack
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>Cheerio</li>
                <li>Axios</li>
                <li>Heroku for Deployment</li>
            </ul>
          </div>
        </div>
      </div>
      <br>
              <!-- accordian 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">
            End-points
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <ul>
                <li>
                Root End-point
                <pre>
                    <code>
                        
                        https://famnet-api.herokuapp.com

                        Documentation: 
                        https://famnet-api.herokuapp.com/docs
    
                    </code>
                </pre>
                <p>
                    This is the root end-point of the api and will lead you to the documentation page.
                </p>
                </li>
                <li>Health End-point

                    <pre>
                        <code>
                            https://famnet-api.herokuapp.com/health
                        </code>
                    </pre>
                    <p>This is the <strong>health</strong> end-point. This end-point returns links to blogs and their sources. The following is the complete endpoint.  </p>
                </li>

                <li>
                    Birth Control End-point
                    <pre>
                        <code>
                            https://famnet-api.herokuapp.com/birth
                        </code>
                    </pre>
                    <p>This end-point returns articles related to birth control.</p>
                </li>
                <li>
                    Pregnancy End-point
                    <pre>
                        <code>
                            https://famnet-api.herokuapp.com/pregnancy
                        </code>
                    </pre>
                    <p>
                        This end-point returns content related to pregnancy.
                    </p>
                </li>

                
            </ul>
            
          
          </div>
        </div>
      </div>
      
    </div>

</body>
</html>